.list-block {
  padding: rem(10px);

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    fill: #404040;
  }

  &__text {
    padding-left: rem(10px);
    color: #404040
  }
}