/*
.list-block {
    color: #404040;
    padding: rem(8px);

      &__icon {
        fill: grey;
      }
    
      &__icon {
        padding-right: rem(10px);

        @media screen and (min-width: 768px) {
            padding-right: rem(8px);
        }
      }
    
      &__text {
        flex-basis: 25%;
    
        @media screen and (min-width: 768px) {
          flex-basis: 60%;
        }

        &--link {
            color: #404040;
        }
    
      }

      &__item {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
      }
    
}
*/

.list-block {
  padding: rem(10px);

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    fill: #404040;
  }

  &__text {
    padding-left: rem(10px);
    color: #404040
  }
}