.white-section {
    background-color: white;
    padding: rem(20px);
    margin: 0 0 rem(20px) 0;

    @media screen and (min-width:768px){
        border-radius: rem(10px);
    }

    &__line {
        border: 0;
        border-top: 1px solid #404040;
        margin: rem(20px) 0;
    }

    &__heading {
        margin-bottom: 0;
    }

    &__date-text {
        display: flex;
        align-items: center;
        margin-top: 0px;
    }

    &__date-icon {
        padding-right: 10px;
        fill: #404040;
    }

    &__skills {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }

    &__skills-icon {
        width: 20%;
        height: rem(48px);
        padding-bottom: rem(25px);
    }
}